<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/feriirawan.jpg"
        alt="Feri Irawan"
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="display-4">Feri Irawan</h1>
      <p class="lead">Siswa | Web Developer</p>
    </div>
  </div>
</div>
